.hero {
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  margin-top: 0.5rem;
  display: grid;
  place-content: center;
  padding: 1rem 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(31, 26, 26, 0.6), rgba(109, 100, 100, 0.8));
  z-index: 0;
}
.hero-video {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.hero-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
@media screen and (max-width: 36.187em) {
  .hero-textbox {
    width: 100%;
  }
}
@media screen and (max-width: 18.25em) {
  .hero-textbox {
    width: 100%;
    flex-wrap: wrap;
  }
  .hero-textbox p {
    font-size: 0.9rem;
    line-height: 1.2;
    width: 100%;
  }
}
.hero-textbox h2 {
  font-size: 6rem;
  font-weight: 650rem;
  color: var(--color-white);
  width: 65%;
  margin: 0 auto;
}
@media screen and (max-width: 21.5em) {
  .hero-textbox h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 12.68em) {
  .hero-textbox h2 {
    font-size: 2.5rem;
  }
}
.hero-textbox p {
  color: var(--color-white);
  letter-spacing: 1.5px;
  text-align: center;
  list-style: 1.8;
  margin-bottom: 1.5rem;
}

.hero-ctas a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: var(--color-primary-light);
  margin-right: 2rem;
  border-radius: 100px;
  color: var(--color-white);
  text-decoration: capitalize;
  font-weight: 600;
}
@media screen and (max-width: 19.875em) {
  .hero-ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-ctas a {
    margin: 0.5rem auto;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  gap: 2rem;
  background-color: var(--color-white-color-white-light);
  border: 0.5rem solid var(--color-black-light);
  border-radius: 10px;
  padding: 2rem;
}

.about-image {
  flex: 1 1 40%;
  max-width: 100%;
}

.about img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.about-textbox {
  flex: 1 1 50%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-textbox-subtitle {
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-primary-light);
  font-size: 4rem;
}

.about-textbox-content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.about-textbox p {
  font-size: 1.2rem;
  line-height: 3;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 62em) {
  .about {
    flex-direction: column;
    padding: 1rem;
  }

  .about-image,
  .about-textbox {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .about-textbox {
    padding: 1rem;
  }

  .about-textbox-subtitle {
    font-size: 1.8rem;
  }

  .about-textbox-content {
    font-size: 1.1rem;
  }
}

.carousel .slide {
  background: #f8f6f6 !important;
  color: black;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
  margin-top: 2rem;
}

.myCarousel {
  background: #fafafa;
  margin-top: -4%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2;
  margin-bottom: 0.4rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #c53939;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 400 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: var(--color-primary-light) !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}
